<br></br>
<%= form_for(physician) do |f| %>
  <% if physician.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(physician.errors.count, "error") %>
      prohibited this physician from being saved:
    </h2>

    <ul>
    <% physician.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
    <%= f.label :name %><br>
    <%= f.text_field :name %><br>
  
    <%= f.label :speciality %><br>
    <%= f.text_field :speciality %><br>
  
    <%= f.label :hospital %><br>
    <%= f.text_field :hospital %><br>
  
    <%= f.label :education %><br>
    <%= f.text_area :education %><br>
  
    <%= f.label :years_in_practice %><br>
    <%= f.text_field :years_in_practice %><br>
  
    <br><%= f.submit %>
  <% end %> 
  