<h1>Doctor: <%= @physician.name %>'s Profile </h1>
<br>
  <ul>
    <li>Full Name: <%= @physician.name %></li><br>
    <li>Speciality: <%= @physician.speciality %></li><br>
    <li>Hospital: <%= @physician.hospital %></li><br>
    <li>Education: <%= @physician.education %></li><br>
    <li>Years of Experience: <%= @physician.years_in_practice %></li><br>
  </ul>
<br>

<%= button_to('Edit Profile', edit_physician_path(@physician), method: :get) %><br></br>

<%= button_to('Delete Physician', physician_path(@physician), method: :delete) %><br>
<br>
<%= button_to('Add Appointment', new_physician_appointment_path(@physician), method: :get) %>
<br></br>
<%= button_to('View Upcomming Appointments', physician_appointments_path(@physician),method: :get) %>
<br></br>
<%= button_to('Home', patient_path(current_user), method: :get) %>
<br></br>
<%= button_to('Back', physicians_path, method: :get) %>
<br>

Doctor's Profile Created: <%= @physician.created_at.strftime('%B %d, %Y, %T') %><br> 
Doctor's Profile Updated: <%= @physician.updated_at.strftime('%B %d, %Y, %T') %><br>