<h1> New Patient Profile </h1>
<br></br>
<%= form_for(@patient) do |f| %>
  <%= render 'form' %> 
  <%= f.label :name %><br>
  <%= f.text_field :name %><br>

  <%= f.label :email %><br>
  <%= f.text_field :email %><br>

  <%= f.label :password %><br>
  <%= f.password_field :password %><br>

  <%= f.label :age %><br>
  <%= f.text_field :age %><br>

  <%= f.label :gender %><br>
  <%= f.text_field :gender %><br>

  <%= f.label :medical_conditions %><br>
  <%= f.text_area :medical_conditions %><br>

  <%= f.label :primary_care %><br>
  <%= f.text_field :primary_care %><br>

  <%= f.label :insurance %><br>
  <%= f.text_field :insurance %><br>

  <br><%= f.submit %>
<% end %> 
