<h1><%= @patient.name %>'s Homepage </h1>
<br>
  <ul>
    <li>Full Name: <%= @patient.name %></li><br>
    <li>Email: <%= @patient.email %></li><br>
    <li>Age: <%= @patient.age %></li><br>
    <li>Gender: <%= @patient.gender %></li><br>
    <li>Medical Conditons: <%= @patient.medical_conditions %></li><br>
    <li>Primary Care Doctor: <%= @patient.primary_care %></li><br>
    <li>Insurance: <%= @patient.insurance %></li><br>
  </ul>
<%= button_to('Edit Profile', edit_patient_path(@patient), method: :get) %><br>
<%= button_to('Log Out', logout_path, method: :get) %><br></br>
<%= link_to 'View All Physicians', physicians_path %><br></br>
Patient Profile Created: <%= @patient.created_at.strftime('%B %-d, %Y, %I:%M %p %Z') %><br> 
Patient Profile Updated: <%= @patient.updated_at.strftime('%B %-d, %Y, %I:%M %p %Z') %><br></br>
<%=button_to('Delete Profile', patient_path(@patient), method: :delete) %><br>
<br>