<h1> New Appointment </h1>
<br></br>
<%= form_with(model:[@physician, @appointment], url: physician_appointments_path(@physician), method: :post) do |f| %>
  <%= render 'errors' %>
  <%= f.label :patient %><br>
  <%= f.collection_select :patient_id, Patient.all, :id, :name %><br><br></br>
  <%= f.label :date %><br>
  <%= f.datetime_field :date %><br></br>
  <%= f.label :reason %><br>
  <%= f.text_field :reason %><br>

  <br><%= f.submit %>
<% end %> 
<br>