<h1>Upcomming Appointment</h1>
<br>
  <ul>
    <li>Date and Time: <%= @appointment.date.strftime('%B %-d, %Y, %I:%M %p %Z') %></li><br>
    <li>Physician: <%= @appointment.physician.name %><br></br>
    <li>Reason: <%= @appointment.reason %></li><br>
</ul>
<br>

<%= button_to('Delete Appointment', appointment_path(@appointment), method: :delete) %><br>
<br></br>
<%= button_to 'All Physicians', physicians_path %><br></br>
<br></br>
<%= button_to('Home', patient_path(current_user), method: :get) %>
<br></br>
<%= button_to('Log Out', logout_path, method: :get) %><br></br>

